.grid-table {
    display: grid;
    grid-template-columns: 10% 50% 40%;
    grid-template-rows: auto; /* Высота строк будет автоматически подстраиваться под содержимое */
    gap: 10px; /* Промежуток между ячейками */
    margin: 20px;
}

.grid-header {
    font-weight: bold;
    background-color: #f0f0f0; /* Цвет фона для заголовков */
    padding: 10px; /* Отступы внутри ячеек */
}

.grid-row {
    display: contents; /* Позволяет использовать грид-расположение для строк */
}

.grid-cell {
    border: 1px solid #ccc; /* Граница ячеек */
    padding: 10px; /* Отступы внутри ячеек */
}

.mt {
    margin-top: 20px;
}

.ml {
    margin-left: 20px;
}